<p style="color: green"><%= notice %></p>
<main>
  <h1>Applications</h1>
  <%= button_to "New application", new_application_path, method: :get %>

  <div class="applications">
    
    <% @pending.each do |application| %>
      <div class='pending'>
        <div class='title'><h3><%= application.name %></h3></div>
        <div class='info'>
        <div><%= application.status %></div>
        <div><%= application.via %></div>
        <div><%= application.notes %></div>
        </div>
        <div><%= button_to "Show this application", application, method: :get %></div>
      </div>
    <% end %>
    
    
    <% @sent.each do |application| %>
      <div class='sent'>
        <div class='title'><h3><%= application.name %></h3></div>
        <div class='info'>
        <div><%= application.status %></div>
        <div><%= application.via %></div>
        <div><%= application.notes %></div>
        </div>
        <div><%= button_to "Show this application", application, method: :get %></div>
      </div>
    <% end %>
    
    
    <% @rejected.each do |application| %>
      <div class='rejected'>
        <div class='title'><h3><%= application.name %></h3></div>
        <div class='info'>
        <div><%= application.status %></div>
        <div><%= application.via %></div>
        <div><%= application.notes %></div>
        </div>
        <div><%= button_to "Show this application", application, method: :get %></div>
      </div>
    <% end %>
    
  </div>
</main>  

